<header>
  <div class="banner d-flex justify-content-center w-100">
    <div class="myPic position-ab border-radius-50 top-12"></div>
      
    <ul class="w-100 d-flex justify-content-center b-5 ul-link" *ngIf="hero">

      <li *ngFor="let heroLink of hero.iconLink" ><a class=" border-1 border-radius-50 d-flex justify-content-center align-items-center w-3 h-3 mr-1" href="{{ heroLink.link }}"><i :class="{{ heroLink.class }} font-2"></i></a></li>
    </ul>

  </div>
  <div class="container">
    <a routerLink="/" class="logo">{{apptitle}}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact us</a></li>
      </ul>
    </nav>
  </div>
</header>
