.banner{
    position: relative;
    background-image: url('https://images.pexels.com/photos/897014/pexels-photo-897014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: 100%;
    height: 500px;
    background-position: center;
    
}

.ul-link{
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    a{
        &:active{
            background-color: white;
        }
    }
}

header {
  .logo {
      font-weight: bold;
  }

  nav {
      justify-self: right;
  
      ul {
          list-style-type: none;
          margin: 0; padding: 0;

          li {
              float: left;

              a {
                  padding: 1.5em;
                  text-transform: uppercase;
                  font-size: .8em;

                  &:hover {
                      background: #8E2BFF;
                  }
              }
          }
      }
  }
}