.banner{
    position: relative;
    background-image: url('https://images.pexels.com/photos/897014/pexels-photo-897014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: 100%;
    height: 600px;
    background-position: center;
    
}
.myPic{
    width: 10rem;
    height: 10rem;
    background-image: url('https://scontent.ftpe1-1.fna.fbcdn.net/v/t1.0-0/p370x247/13103284_948659938580627_7914928445941350646_n.jpg?_nc_cat=110&_nc_ht=scontent.ftpe1-1.fna&oh=ef9a78f1bb0276007d9f8027de1afe75&oe=5CAC6219');
    background-size: 113%;
    background-position: center top;
    border: 6px solid #d2c9b8;
}
.ul-link{
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    a{
        &:active{
            background-color: white;
        }
    }
}

header {
  background: #7700FF;

  .logo {
      font-weight: bold;
  }

  nav {
      justify-self: right;
  
      ul {
          list-style-type: none;
          margin: 0; padding: 0;

          li {
              float: left;

              a {
                  padding: 1.5em;
                  text-transform: uppercase;
                  font-size: .8em;

                  &:hover {
                      background: #8E2BFF;
                  }
              }
          }
      }
  }
}